* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 200px;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card:hover {
    transform: scale(1.05);
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .card{
        width: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .card{
        width: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .card{
        width: 250px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
}
